<div class="container">
  <form class="well form-horizontal" (submit)="cadastrarTurma($event)">
      <fieldset>
          <div class="form-group">
              <label class="col-md-4 control-label">Código da turma</label>
              <div class="col-md-8 inputGroupContainer">
                  <div class="input-group">
                      <span class="input-group-addon">
                          <i class="glyphicon glyphicon-user"></i>
                      </span>
                      <input id="idTurma" name="idTurma" placeholder="Código da turma" class="form-control" required="true" value="" type="text">
                  </div>
              </div>
              <label class="col-md-4 control-label">Disciplina</label>
              <div class="col-md-8 inputGroupContainer">
                  <div class="input-group">
                      <span class="input-group-addon">
                          <i class="glyphicon glyphicon-user"></i>
                      </span>
                      <input id="disciplina" name="disciplina" placeholder="Disciplina" class="form-control" required="true" value="" type="text">
                  </div>
              </div>
              <label class="col-md-4 control-label">Semestre</label>
              <div class="col-md-8 inputGroupContainer">
                  <div class="input-group">
                      <span class="input-group-addon">
                          <i class="glyphicon glyphicon-user"></i>
                      </span>
                      <input id="semestre" name="semestre" placeholder="Semestre" class="form-control" required="true" value="" type="text">
                  </div>
              </div>
              <label class="col-md-4 control-label">Ano</label>
              <div class="col-md-8 inputGroupContainer">
                  <div class="input-group">
                      <span class="input-group-addon">
                          <i class="glyphicon glyphicon-user"></i>
                      </span>
                      <input id="ano" name="ano" placeholder="Ano" class="form-control" required="true" value="" type="text">
                  </div>
              </div>
              <div class="col-4">
                  <input class="mt-2 ml-1 btn btn-primary" type="submit" value="Cadastrar" />
              </div>
          </div>
      </fieldset>
  </form>
</div>