  <div id=container>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Sistema 360</a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Pesquisa" aria-label="Pesquisa">

      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <button class="btn btn-sm btn-outline-primary" (click)="logout();">Sair</button>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item"></li>
                <a class="nav-link active" routerLink="/turmas">
                  Turmas
                </a>
              <li class="nav-item">
                <a class="nav-link" routerLink="/alunos">
                  Alunos
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/grupos">
                  Grupos
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/presencas">
                  Presenças
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/atividades">
                  Atividades
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/participacao">
                  Participação
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/notas">
                  Notas
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/topicos">
                  Tópicos
                </a>
              </li>
            </ul>
          </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
            <div style="position: absolute; left:0; top:0; right:0; bottom: 0; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
              <div style="position: absolute; width: 1000000px; height: 1000000px; left: 0; top: 0"> </div>
            </div>
            <div style="position: absolute; left: 0; top:0; right: 0; bottom: 0; overflow: hidden; pointer-events: none; visibility: hidden; z-index: 1">
              <div style="position: absolute; width:200%; height: 200%; left:0; top:0"> </div>
            </div>
          </div>

          <div *ngIf="url == 'turmas'"><app-turmas></app-turmas></div>
          
        </main>
      </div>
    </div>
  </div>