<div class="container">
  <div class="row justify-content-md-center mt-5">
    <div class="col-4">
      <div class="card mt-5 tab-card">
        <div id="card-header" class="card-header tab-card-header">
          <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link" id="tab1" data-toggle="tab" href="#one" role="tab" aria-controls="One">
                Cadastro</a>
            </li>
          </ul>
        </div>

        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active p-3" role="tabpanel" aria-labelledby="tab1">
            <form (submit)="cadastrarAluno($event)">
              <div>
                <input class="mt-2 col-11" id="nome" name="nome" type="text" value="" placeholder="Digite seu nome" required />
              </div>
              <div>
                <input class="mt-2 col-11" id="ra" name="ra" type="text" value="" placeholder="Digite seu RA" required />
              </div>
              <div>
                <input class="mt-2 col-11" id="senha" name="senha" type="password" value="" placeholder="Digite sua senha" required />
              </div>
              <div>
                <select class="mt-2 col-8" id="select-turma">
                  <option *ngFor="let turma of Turmas">{{turma}}</option>
                </select>
              </div>
              <div class="row mt-4 col-6">
                <input class="ml-1 btn btn-primary" type="submit" value="Cadastrar"/>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>